RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
RewriteRule ^user/([a-zA-Z0-9_-]+)/?$ channel.php?n=$1
RewriteRule ^user/([a-zA-Z0-9_-]+)/videos?$ channel_videos.php?n=$1 [QSA,L]
RewriteRule ^user/([a-zA-Z0-9_-]+)/discussion?$ channel_discussion.php?n=$1 [QSA,L]
RewriteRule ^user/([a-zA-Z0-9_-]+)/feed?$ channel_feed.php?n=$1 [QSA,L]
RewriteRule ^user/([a-zA-Z0-9_-]+)&about?$ channel_about.php?n=$1 [QSA,L]
RewriteRule ^user/([a-zA-Z0-9_-]+)/featured?$ channel.php?n=$1 [QSA,L]
RewriteRule ^@([a-zA-Z0-9_-]+)/?$ channel.php?n=$1